/part01-Part01_16.SecondsInADay/target/
/part01-Part01_19.AdditionFormula/target/
/part01-Part01_21.AverageOfTwoNumbers/target/
/part01-Part01_22.AverageOfThreeNumbers/target/
/part01-Part01_25.CheckYourIndentation/target/
/part01-Part01_27.Ancient/target/
